.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px;
  background-color: #121212;
}
.navbar
{
  display: flex;
  height: 50px;
  width : 800px;
  margin: 15px 0px;
  border-radius: 12px;
  justify-content: space-around;
}

.title
{
  color: white;
  font-size: 30px;
  margin-top: 15px;
  text-align: center;
  color: #ffffff;
}
.nav-item
{
  float: left;
  list-style: none;
  font-family: monospace;
  margin: 16px 4px;
  font-weight: bolder;
  text-decoration: none;
}
.nav-items
{
  margin-right: 95px;
}
.container
{
  
  background-color: #282c34;

  border-radius: 8px;
  padding-top: 10px;
  color: #ffffff;
}
.nav-item:hover
{
  float: left;
  list-style: none;
  font-family: monospace;
  margin: 16px 4px;
  font-weight: bolder;
  cursor: pointer;
  color: #ffffff;
}
li
{
  float: left;
  list-style: none;
}
.nav-item:visited
{
  float: left;
  list-style: none;
  font-family: monospace;
  margin: 16px 4px;
  font-weight: bolder;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}